# Server
PORT=3000
SERVER_URL=http://localhost:3000

# Database
MONGO_URI=mongodb://localhost:27017/projectcamp

# CORS
CORS_ORIGIN=http://localhost:5173

# JWT
ACCESS_TOKEN_SECRET=your-access-token-secret-here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your-refresh-token-secret-here
REFRESH_TOKEN_EXPIRY=10d

# Password reset
FORGOT_PASSWORD_REDIRECT_URL=http://localhost:5173/reset-password

# Mailtrap SMTP (email sending)
MAIL_TRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAIL_TRAP_SMTP_PORT=2525
MAIL_TRAP_SMTP_USER=your-mailtrap-username
MAIL_TRAP_SMTP_PASS=your-mailtrap-password

#Test credentials
REGISTERED_EMAIL = 
REGISTERED_PASSWORD = 
REGISTERED_USERNAME =